body{
    background: url(background.jpg) no-repeat;
    background-size: 100%; 
  }  
.header-container{
    margin-top: 20px;
    margin-bottom: 12px;
}
.questions{
    font-family: 'so';
    margin-top: 70px;
    background-color: rgba(red, green, blue, alpha)
}
.questions h3{
    font-family: 'Amatic SC', cursive;
    font-size: 80px
}
.solution{
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    color: #333333;

}
.nav-link{
    color: #333333;
}